body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background: #eaeaea;
}
label {
  font-weight: bold;
  color: #342c2c;
  padding: 10px;
  display: flex;
}
#header-img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}
#eslogan {
  line-height: 30px;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  width: 100%;
  float: right;
  text-align: right;
}

li {
  display: inline-block;
  padding: 0 1.25rem;
}

nav li a {
  color: #342C2C;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

li:hover a {
  border: 1px solid;
  transition: 0.5s;
}

/* Mobile Toggle */

.nav-toggle {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
}

.nav-toggle img {
  width: 1.5rem;
  transition: 300ms all ease;
}

.nav-toggle:hover img {
  opacity: 0.6;
}

.open {
  height: 100vh;
}

.hidden {
  display: none;
}

/* Mobile */
@media all and (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
}

/* PC*/
@media all and (min-width: 720px) {
  header {
    background: none;
  }
  nav {
    background-color: #342c2c;
    position: absolute;
    width: 100%;
  }
  nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3px;
  }
}
